include ./_mixins

//- Example - 01
h1.title Social Network
each user in users
  .content__wrapper
    h2 #{user.name} #[spam.age= age(user.birth)]
    blockquote= user.tagline
    p= user.bio

    .socials__icons
      a(href="#!")
        +svg-icon('facebook').svg-icon
      a(href="#!")
        +svg-icon('instagram').svg-icon
      a(href="#!")
        +svg-icon('linkedin').svg-icon

//- Example - 02
//- p Information System "Patriot"
//- include ../../img/logo.svg
//- p Loading data...