extends ./layout/_app

block title
  title Main Page New

block header
  //- include ./include/_header

block content
  main.main
    //- include ./include/_home
    include ./include/_examples

block footer
  include ./include/_footer