.main
 min-height: 100vh
 display: flex
 flex-direction: column
 justify-content: center
 align-items: center
 gap: 3rem

.title
  width: 100%
  padding: 2rem 0
  text-align: center
  font-size: 6rem
  line-height: 1.4
  background: #0f0f0f
  color: #f0f0f0

// Example - 01
.content__wrapper
  width: 60%
  padding: 4rem
  text-align: center

  h2
   .age
    position: relative
    bottom: 0.5em
    font-size: 60%
    font-weight: 400

  blockquote
   font-style: italic
   color: #7e7e7e

  .socials__icons
    margin-top: 1rem
    display: flex
    justify-content: center
    align-items: center
    gap: 1rem
    .svg-icon
      width: 2.4rem
      height: 2.4rem
      fill: #0f0f0f
      overflow: visible
      transition: .4s opacity
      &:hover
        opacity: .6
      .icon__linkedin
        transform: translate(10%, -10%)

// Example - 02
// #logotype
//   width: 15rem
//   height: 15rem
//   .dot
//     transform-origin: 50% 50%
//   .dot--top,
//   .dot--bottom
//     animation: dot-rotate 2s infinite
//   .dot--center
//     animation: dot-colorize 1s infinite alternate

// @keyframes dot-rotate
//   0%
//     transform: rotate(0)
//   100%
//     transform: rotate(360deg)

// @keyframes dot-colorize
//   0%
//     opacity: 1
//   100%
//     opacity: 0